[submodule "CubismWebFramework"]
	path = CubismWebFramework
	url = https://github.com/madosuki/CubismWebFramework.git
[submodule "CubismWebMotionSyncComponents"]
	path = CubismWebMotionSyncComponents
	url = https://github.com/Live2D/CubismWebMotionSyncComponents.git
